<nav class="navbar">
  <a href="/">Home</a>
  <a href="/allData">All Listings</a>
  <a href="/viewData">Detailed Listings</a>
  <a href="/viewData/clean">Cleaned Listings</a>
  <a href="/viewData/price">Price Search</a>
  <a href="/search/invoiceID">Search by ID</a>
  <a href="/search/produceLine">Search by Name</a>
  <a href="/about">About</a>
</nav>
