<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    {{> header}}   <!--This calls the header partial -->

    {{> navbar}} <!--This calls the nav partial -->

    <main id="content">
      {{{body}}}
    </main>

    {{> footer}}   <!--This calls the footer partial -->
  </body>
</html>
