<h2>Welcome to Express Handlebars</h2>
<p>This web app uses Express, Handlebars, and CSV data from Assignment 1.</p>

<p>Use the navigation links below to explore the features:</p>
<ul>
  <li><a href="/allData">View All Airbnb Listings</a></li>
  <li><a href="/viewData">View All Airbnb Listings</a></li>
  <li><a href="/viewData/clean">Cleaned Listings</a></li>
  <li><a href="/viewData/price">Price Search</a></li>
  <li><a href="/search/invoiceID">Search by Property ID</a></li>
  <li><a href="/search/produceLine">Search by Property Name</a></li>
  <li><a href="/about">About Page</a></li>
</ul>
